body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1000px;
  height: 40px;
  margin: auto;
}

.stats {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.cards {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.cards h1 {
  text-align: center;
}

.cards .card {
  display: flex;
  width: 300px;
  flex-direction: column;
  border: 1px solid #ccc;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.cards .card h1 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.cards .card p {
  color: #c7c7c7;
}

.cards .card p span {
  color: #000;
}

.cards .card button {
  color: #000;
  background-color: #f8bb00;
  border: 1px solid #f8bb00;
  cursor: pointer;
  border-radius: 7px;
  padding: 10px 20px;
}

.cards .card button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}

.buttons {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons button {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 1em;
  cursor: pointer;
  border-radius: 7px;
  padding: 15px 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.buttons button.disabled {
  color: #000;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
}

.buttons button.disabled:hover {
  color: #000;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
}

.buttons button:hover {
  color: #000;
  background-color: #f8bb00;
  border: 1px solid #f8bb00;
}
